body {
  font-family: Arial, sans-serif;
  background: #24252B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background: #313639;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  text-align: center;
}

.signup-container h2 {
  margin-bottom: 20px;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-container button {
  width: 100%;
  padding: 10px;
  background: #FF007F;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.signup-container button:hover {
  background: #FF007F;
}

.signup-container p {
  margin-top: 15px;
  font-size: 14px;
}
.signup-container p a {
  color: #FF007F;
  text-decoration: none;
}

.signup-container p a:hover {
  text-decoration: underline;
}